.vs/Library/config/applicationhost.config
.vs/Library/DesignTimeBuild/.dtbcache.v2
.vs/Library/FileContentIndex/0ea160fd-aa5c-4b90-b0d3-ec94b2bc7254.vsidx
.vs/Library/FileContentIndex/2a819027-9b60-447a-83c9-cd49efc35c72.vsidx
.vs/Library/FileContentIndex/69492aea-70b0-4ac2-ac25-6bc75909d822.vsidx
.vs/Library/FileContentIndex/c4917085-464b-4fce-b99c-51a0d623f3b2.vsidx
.vs/Library/FileContentIndex/de1ab244-4e1b-4ced-8ad5-d33911806f20.vsidx
.vs/Library/v17/.futdcache.v2
.vs/Library/v17/.suo
.vs/Library/v17/DocumentLayout.json
.vs/ProjectEvaluation/library.metadata.v8.bin
.vs/ProjectEvaluation/library.projects.v8.bin
.vs/ProjectEvaluation/library.strings.v8.bin
node_modules
/.vscode
/client-app/.vscode
/Library.API/bin/Debug/net8.0
/Library.API/obj
/Library.API/Library.API.csproj.user
/Library.Application/bin/Debug/net8.0
/Library.Application/obj
/Library.Domain/bin/Debug/net8.0
/Library.Domain/obj
/Library.Persistence/bin/Debug/net8.0
/Library.Persistence/obj
/Library.Tests/bin/Debug/net8.0
/Library.Tests/obj
/.vs
